html {
  margin-top: 0 !important;
}

.home {
  min-height: 732px;
  margin-bottom: 50px;

  &-bg {
    width: 100%;
    height: 732px;
    background: url('../../images/home-bg.jpg') no-repeat;
    position: relative;
    background-size: cover;
  }

  &-menu {
    position: absolute;
    top: 100px;
    left: 25px;
  }

  &-text {
    position: absolute;
    bottom: 70px;
    left: 100px;

    .home-title {
      font-family: 'Playfair Display', serif;
      width: 250px;
      text-align: right;
      color: white;
      position: relative;

      &-share {
        position: absolute;
        bottom: -50px;
        right: 0;
        height: 16px;
        width: 16px;
        background: url('../../images/share.png') no-repeat;
        cursor: pointer;
      }

    }

    .home-title-1 {
      font-size: 52px;
      font-weight: bold;
    }

    .home-title-2 {
      font-size: 28px;
      font-weight: bold;
    }

    .home-desc {
      width: 490px;
      padding-left: 275px;

      &-block {
        width: 100px;
        height: 3px;
        background-color: white;
      }

      &-text {
        line-height: 1.7em;
        padding-top: 25px;
        font-size: 18px;
        color: white;
        font-weight: 300;
      }

      &-leggi {
        text-align: right;
        a {
          color: white;
          font-size: 16px;
          font-weight: 300;
          font-style: italic;

          img {
            margin-left: 5px;
          }
        }
      }
    }
  }








  .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 732px;


    .right-menu {
      display: flex;
      justify-content: space-between;
      margin-top: 30px;
      margin-bottom: 90px;

      .lang {
        margin-top: 20px;
      }
    }

    .right-content {

      .text {
        font-size: 18px;
        line-height: 1.7em;
      }

      .calendar {
        padding: 10px 0 ;
        border-bottom: 2px solid #474747;
        margin-bottom: 10px;
        width: 241px;

        a {
          display: flex;
          align-items: center;
          color: #bd1e1e;
          font-size: 18px;
          font-weight: bold;

          > div {
            padding-left: 10px;
          }
        }
      }

      .slides {
        a {
          margin-top: 10px;
          display: flex;
          align-items: center;

          .img {
            width: 66px;
            height: 94px;
            background: url('../../images/home-bg.jpg') no-repeat;
            background-size: cover;
          }

          .slide-text {
            padding-left: 20px;
            font-size: 18px;

            &-1 {
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}