.eventi {
    margin-top: 150px;
}

.eventi__events-block {
    margin-top: 100px;
    width: 2000px;
    overflow-x: hidden;
}

.eventi__header {
    font-size: 52px;
    font-family: "Playfair Display", serif;
    color: rgb(71, 71, 71);
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
    position: relative;
}

.eventi__header::after {
    content: '';
    display: block;
    position: absolute;
    width: 90px;
    height: 5px;
    bottom: -25px;
    left: calc(50% - 45px);
    background: #474747;
}

.eventi__event {
    width: 560px;
    transition: all ease 0.3s;
}

.eventi__event__header {
    font-size: 28px;
    font-family: "Playfair Display", serif;
    color: rgb(71, 71, 71);
    font-weight: bold;
    line-height: 1.5;
    text-align: left;
    margin-bottom: -10px;
    transition: all 0.2s linear;
    position: relative;
}

.eventi__event__header__date {
    font-weight: 500;
}

.eventi__event:hover .eventi__event__header {
    color: #990000;
}

.eventi__event__header__share {
    position: absolute;
    display: block;
    top: 13px;
    right: 0;
    width: 20px;
    height: 20px;
    background-image: url(../../images/share-icon.png);
    background-repeat: no-repeat;
    background-position: -37px 2px;
    transition: none;
}

.eventi__event:hover .eventi__event__header__share {
    background-position: 2px 1px;
}

.eventi__event__header__share:hover {
    background-position: 2px 1px;
}

.eventi__event__description {
    font-size: 18px;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    color: rgb(71, 71, 71);
    line-height: 1.778;
    text-align: left;
}

.eventi__event__img-block {
    width: 100%;
    height: 330px;
    position: relative;
    overflow: hidden;
}

.eventi__event__img-block__big {
    width: 100%;
    height: 530px;
    position: relative;
}

.eventi__event__img-block::after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    height: 100%;
    width: 230px;
    background-image: url(../../images/stripes-white.png);
    background-size: cover;
    opacity: 0;
    transition: all 0.2s linear;
}

.eventi__event__img-block__big::after {
    content: '';
    position: absolute;
    display: block;
    top: 20%;
    right: -7%;
    height: 70%;
    width: 15%;
    background-image: url(../../images/stripes-rails-red.png);
    background-size: cover;
    opacity: .5;
}

.eventi__event:hover .eventi__event__img-block::after {
    opacity: 1;
}

.eventi__event__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.eventi__event__img__bottom-block {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: white;
    padding: 10px 45px 10px 0;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    color: #a6a8a8;
    text-transform: uppercase;
    line-height: 2;
    text-align: left;
    transition: all 0.2s linear;
}

.eventi__event__img__bottom-block.eventi__event__img__bottom-block__relative {
    position: relative;
}

.eventi__event__img__bottom-block > span {
    color: #474747;
    position: relative;
    margin-left: 35px;
    margin-right: 20px;
}

.eventi__event__img__bottom-block > span::before {
    content: '';
    display: block;
    position: absolute;
    top: 0px;
    left: -35px;
    width: 36px;
    height: 30px;
    background-image: url(../../images/eventi-icon.png);
    background-repeat: no-repeat;
    background-position: 2px 2px;
}

.eventi__event:hover .eventi__event__img__bottom-block > span::before {
    background-position: -47px 1px;
}

.eventi__event__img__bottom-block > span.eventi__event__span__edu::before {
    background-image: url(../../images/eventi-icons.png);
    background-position: -63px -109px;
}

.eventi__event__img__bottom-block__relative:hover > span.eventi__event__span__edu::before {
    background-position: -1px -110px;
}

.eventi__event__img__bottom-block > span.eventi__event__span__clock::before {
    background-image: url(../../images/eventi-icons.png);
    background-position: -66px 0px;
}

.eventi__event__img__bottom-block > span.eventi__event__span__clock.eventi__event__span__clock__red::before {
    background-image: url(../../images/eventi-icons.png);
    background-position: -5px 0px;
}

.eventi__event__img__bottom-block__relative:hover > span.eventi__event__span__clock::before {
    background-position: -5px 0px;
}

.eventi__event__img__bottom-block > span.eventi__event__span__calendar::before {
    background-image: url(../../images/eventi-icons.png);
    background-position: -63px -213px;
}

.eventi__event__img__bottom-block__relative:hover > span.eventi__event__span__calendar::before {
    background-position: -2px -213px;
}

.eventi__event:hover .eventi__event__img__bottom-block {
    bottom: -60px;
}

.eventi__event__img__bottom-block > span::after {
    content: '';
    display: block;
    position: absolute;
    top: 5px;
    right: -14px;
    width: 2px;
    height: 11px;
    background-color: #a6a8a8;
}

.eventi__event__img__bottom-block__relative > span.eventi__event__calendar__date {
    font-size: 18px;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    color: rgb(211, 210, 210);
    line-height: 2.334;
    text-align: left;
    transition: all 0.3s linear;
}

.eventi__event__img__bottom-block__relative:hover > span.eventi__event__calendar__date {
    color: #820503;
}

.eventi__event__img__bottom-block__relative > span.eventi__event__calendar__date::after {
    display: none;
}

.eventi__event__img__bottom-block__relative > span.eventi__event__calendar__date::before {
    top: 2px;
    left: -45px;
}

.eventi__event__calendar__description {
    margin-top: 0px;
    margin-left: 35px;
    font-size: 20px;
    font-family: "Playfair Display", serif;
    color: rgb(151, 152, 152);
    font-weight: bold;
    line-height: 2.101;
    text-align: left;
    text-transform: none;
    transition: all 0.3s linear;
}

.eventi__event__img__bottom-block__relative:hover > .eventi__event__calendar__description {
    color: #820503;
}

