.mumac-page {
    margin-top: -123px;
}

.mumac-main {
    margin-top: 80px;
}

.mumac-main__text-block {
    text-align: right;
    padding: 50px 0px 0px 30px;
}

.mumac-main__header {
    padding: 0px 0px 50px 80px;
    font-size: 28px;
    font-family: "Playfair Display", serif;
    color: rgb(71, 71, 71);
    font-weight: bold;
    line-height: 1.5;
    text-align: right;
    position: relative;
}

.mumac-main__text {
    font-size: 18px;
    font-family: "Lato", sans-serif;
    color: rgb(134, 134, 134);
    line-height: 1.778;
    text-align: right;
}

.mumac-main__link {
    font-size: 18px;
    font-family: "Lato", sans-serif;
    color: rgb(134, 134, 134);
    line-height: 1.778;
    text-align: right;
    font-style: italic;
    color: #b2002d;
    text-decoration: underline;
}

.mumac-main__header__share {
    position: absolute;
    display: block;
    top: 13px;
    right: -50px;
    width: 20px;
    height: 20px;
    background-image: url(../../images/share-icon.png);
    background-repeat: no-repeat;
    background-position: -37px 2px;
    transition: none;
}

.mumac-main__header__share:hover {
    background-position: 2px 1px;
}
