.mumac-page {
    margin-top: -123px;
}

.mumac-main {
    margin-top: 80px;
}

.mumac-main__text-block {
    text-align: right;
    padding: 40px 0px 0px 30px;
}

.mumac-main__text-block__left {
    text-align: left;
    padding: 40px 30px 0px 0px;
}

.mumac-main__header {
    padding: 0px 0px 50px 80px;
    font-size: 2em;
    font-family: "Playfair Display", serif;
    color: rgb(71, 71, 71);
    font-weight: bold;
    line-height: 1.5;
    text-align: right;
    position: relative;
}

.mumac-main__header__left,
.mumac-main__header__left__small {
    padding: 0px 80px 50px 0px;
    font-size: 28px;
    font-family: "Playfair Display", serif;
    color: rgb(71, 71, 71);
    font-weight: bold;
    line-height: 1.5;
    text-align: left;
    position: relative;
}

.mumac-main__header::after {
    content: '';
    position: absolute;
    display: block;
    height: 3px;
    width: 70vw;
    z-index: -2;
    bottom: 30px;
    left: 105%;
    background-color: rgb(71, 71, 71);
}

.mumac-main__header__left::after {
    content: '';
    position: absolute;
    display: block;
    height: 3px;
    width: 10vw;
    z-index: -2;
    bottom: 30px;
    right: 105%;
    background-color: rgb(71, 71, 71);
}

.mumac-main__header__left__small::after {
    content: '';
    position: absolute;
    display: block;
    height: 3px;
    width: 115px;
    bottom: 30px;
    right: 105%;
    background-color: rgb(71, 71, 71);
}

.mumac-main__text {
    font-size: 18px;
    font-family: "Lato", sans-serif;
    color: rgb(134, 134, 134);
    line-height: 1.778;
    text-align: right;
    margin-bottom: 0px;
}

.mumac-main__text__left {
    font-size: 18px;
    font-family: "Lato", sans-serif;
    color: rgb(134, 134, 134);
    line-height: 1.778;
    text-align: left;
    margin-bottom: 0px;
}

.mumac-main__link {
    font-size: 18px;
    font-family: "Lato", sans-serif;
    color: rgb(134, 134, 134);
    line-height: 1.778;
    text-align: right;
    font-style: italic;
    color: #b2002d;
    text-decoration: underline;
}

.mumac-main__header__share {
    position: absolute;
    display: block;
    top: 13px;
    right: -50px;
    width: 20px;
    height: 20px;
    background-image: url(../../images/share-icon.png);
    background-repeat: no-repeat;
    background-position: -37px 2px;
    transition: none;
}

.mumac-main__header__share__left {
    position: absolute;
    display: block;
    top: 13px;
    left: -50px;
    width: 20px;
    height: 20px;
    background-image: url(../../images/share-icon.png);
    background-repeat: no-repeat;
    background-position: -37px 2px;
    transition: none;
}

.mumac-main__header__share:hover {
    background-position: 2px 1px;
}

.mumac-main__header__share__left:hover {
    background-position: 2px 1px;
} 

.mumac-main__img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    object-position: center;
    position: relative;
}

.mumac-main__img-block,
.mumac-main__img-block__right {
    position: relative;
}

.mumac-main__img-block::after {
    content: '';
    position: absolute;
    display: block;
    bottom: -5%;
    right: -10%;
    width: 30%;
    height: 60%;
    opacity: 0.5;
    background-image: url(../../images/stripes-grey.png);
    background-size: cover;
    z-index: -2;
}

.mumac-main__img-block__right::after {
    content: '';
    position: absolute;
    display: block;
    bottom: -5%;
    left: -10%;
    width: 30%;
    height: 60%;
    opacity: 0.5;
    background-image: url(../../images/stripes-grey.png);
    background-size: cover;
    z-index: -2;
}

.mumac-main__img-block__small {
    margin-top: 200px;
}

.mumac-main__arrows {
    text-align: right;
    margin-top: 30px;
}

.mumac-main__arrow {
    display: inline-block;
    width: 22px;
    height: 20px;
    background-image: url(../../images/post-arrows.png);
    background-repeat: no-repeat;
    transition: none;
    margin-left: 15px;
}

.mumac-main__arrow__left {
    background-position: -109px 2px;
}

.mumac-main__arrow__left:hover {
    background-position: 1px 2px;
}

.mumac-main__arrow__right {
    background-position: -37px 2px;
}

.mumac-main__arrow__right:hover {
    background-position: -74px 2px;
}