.page-top {
    height: calc(100vh - 70px);
    margin-top: 53px;
    position: relative;
}

.page-top__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.page-top__text-block {
    position: absolute;
    width: 100%;
    top: 20vh;
    text-align: center;
}

.page-top__header {
    text-align: center;
    font-size: 52px;
    font-family: "Playfair Display", serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.5;
}

.page-top__description {
    font-size: 18px;
    font-family: "Lato", sans-serif;
    color: rgb(255, 255, 255);
    line-height: 1.778;
    text-align: center;
    font-weight: lighter;
}

.page-top__link {
    font-size: 14px;
    font-family: "Lato";
    color: rgb(255, 255, 255);
    font-style: italic;
    text-decoration: underline;
    line-height: 2.277;
    text-align: center;
    display: inline-block;
    margin-top: 30px;
}

.page-top__link:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
}